body {
	background: url('dark_brick_wall.png');
	font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #D16860;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
	font-size: 34px;
	text-align: center;
}

#platformInfo {
	margin-top: 20%;
}