<!DOCTYPE html>
<html>
<body>
    <form method="post" id="driverform" class="driverform" action="/index">
        <div>
            <label class="dest">Destination</label>
            <input type="text" id="dest" name="dest" >
        </div>
        <div>
            <label class="start">Start Location</label>
            <input type="text" id="start" name="start" >
        </div>
        <div>
            <label class="time">Time of Departure</label>
            <input type="text" id="time" name="time" >
        </div>
        <div>
            <input type="submit" id="submitButton"  name="submitButton" value="Submit">
        </div>
 	</form>
<script>
 	$("driverform").submit(function(){
 		
 		location.href = '/index';
	});
});
</script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</body>
</html> 