<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<li><form action="/auth/facebook"><button class="btn btn-primary navbar-btn">Login with Facebook</button></form></li>
<% } 
  else { %>
  <html>
	<h2>Hello, <%= user.username %>.</h2>
	<button id="button", class="imgContain">Button</button>
	<ul id="newsfeed">
	</ul>
  </html>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script>
  	$( "#button" ).click(function() {
		location.href = '/driverform';
	});
  </script>
<% } %>
